body {
    margin:0;
    font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin:0;
}

.produtos, .sobre_contato, .desenvolvimento  {
    min-height:100vh;
}

.bg {
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    bottom:0;
    z-index: -1;
}

.bg1 {
    background-image: url(assets/bg.svg);
    background-size: 25vh;
    opacity: 0.1;
}

.bg2 {
    background-image: url(assets/bg.jpg);
    background-size: cover;
    opacity: 0.1;
    background-position-y: 70%;
}

.bg3 {
    position: absolute;
    background-image: url(assets/dev.gif);
    background-size: cover;
    opacity: 0.3;
    width: 100%;
    top: 0;
    background-attachment: fixed;
    filter: blur(1vh);
}

.intro {

}

.right_gradient, .left_gradient {
    height: 100%;
    width: 2vh;
    position: absolute;
    top: 0;
}

.right_gradient {
    right: 0;
    background: linear-gradient(180deg, teal, transparent);
}

.left_gradient {
    left: 0;
    background: linear-gradient(0deg, teal, transparent);
}

header {
    display: flex;
    width: 95%;
    border-radius: 0 0 5vh 0;
    height: 23.6vh;
    background: teal;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}

        .header_shrink {
            height: 14.6vh !important;
        }

        .h1_shrink {
            top: 3vh !important;
            font-size: 3vh !important;
            line-height: 5vh !important;
        }

        .h1Span_shrink {
            font-size: 5vh !important;
        }

        .header_contact_shrink {
            top: 3vh !important;
        }

        .header_contact_span_shrink {
            display:none !important;
        }

.h1_container {
    height: 100%;
    width: 55%;
    position: relative;
    left: calc(16vw - 10vh);
    display: inline-flex;
}

.h1_container img {
    height: 70%;
    position: relative;
    top: 14%;
}

.h1_container h1 {
    display: inline-block;
    color: white;
    height: fit-content;
    position: relative;
    top: 6vh;
    left: 4vh;
    font-weight: 200;
    font-size: 4.2vh;
    line-height: 6vh;
    cursor: default;
    transition:0.3s ease;
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -ms-transition:0.3s ease;
    -o-transition:0.3s ease;
}

.h1_container h1 span {
    display:block;
    font-size: 8.3vh;
    transition:0.3s ease;
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -ms-transition:0.3s ease;
    -o-transition:0.3s ease;
}

.header_contact_container {
    display: inline-block;
    height: 50%;
    width: 40%;
    position: relative;
    top: 5vh;
    transition:0.3s ease;
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -ms-transition:0.3s ease;
    -o-transition:0.3s ease;
}

.header_contact_container span {
    display:block;
    text-align: right;
    color:white;
    font-size: 3vh;
    font-weight: 300;
    margin-bottom: 1vh;
    transition:0.3s ease;
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -ms-transition:0.3s ease;
    -o-transition:0.3s ease;
}

.header_contact_container span:first-child {
    font-weight: 500;
    font-size: 4vh;
}

.intro {
    color: #008080;
    height: 72vh;
}

.intro h2 {
    font-size: calc(4.5vw + 5px);
    font-weight: 100;
    margin-top: 28vh;
    cursor: default;
}

    .intro h2 strong {
        font-weight: 300;
    }

    .intro h3 strong {
        font-weight: 400;
    }

.intro h3 {
    margin-top: 4vh;
    font-weight: 300;
    width: 52%;
    cursor: default;
    font-size: 3.4vh;
    color: #5D8F8F;
}

.intro h3, .intro h2 {
    margin-left: calc(10vw - 5vh);
}

.buttons_container {
    position: absolute;
    right: 20vh;
    top: 65vh;
    height: 23vh;
    width: 50vh;
}

.about_button, .see_products {
    position: absolute;
    right: 30vh;
    box-shadow: inset 0 0 0 0.3vh teal;
    font-size: 3vh;
    height: 6vh;
    line-height: 6vh;
    cursor: pointer;s
}

.about_button {
    top: 68vh;
    width: 30vh;
    text-align: center;
    transition:0.2s ease;
    -webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
}

.about_button:hover, .see_products:hover {
    background: teal;
    color: white;
}

.see_products {
    top: 78vh;
    padding: 0 3vh;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.see_products::after {
    content: "";
    position: absolute;
    width: 0.4vh;
    height: 22vh;
    background: teal;
    right: 0;
}

.see_products_button:hover {
    background: white;
    box-shadow: 0 0 0 0.3vh teal;
}

.planilha {
    width: 100%;
    height: 52vh;
    display: flex;
}


.product_img_container {
    position: relative;
    height: 100%;
    width: 20%;
    display: inline-block;
    margin: 0 4%;
}

    .product_img_container img {
        height: 75%;
        width: 65%;
        margin: 0 auto;
        display: block;
        position: relative;
        top: 12%;
    }

.product_info_container {
    width: 64%;
    position: relative;
    top: 10%;
    height: auto;
    display: table;
}

    .product_info_container h3 {
        font-size: 6.2vh;
        font-weight: 400;
        display: inline-block;
        text-shadow: 0 0.5vh #EEE;
    }
    .product_info_container h4 {
        font-size: 7vh;
        font-weight: 300;
        color: inherit;
        margin: 2vh 0 3vh 0;
        text-shadow: 0 0.6vh 0.8vh #FFF;
    }
    .product_info_container a {
        color: inherit;
        margin: 0 3vh 1vh 0;
        display: inline-block;
        font-size: 3vh;
        background: white;
        text-decoration: none;
        padding: 1.5vh 6vh;
        box-sizing: border-box;
        /* border-radius: 60px; */
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
    }

    .product_info_container span {
        display: block;
        letter-spacing: 0.3vh;
        color: inherit;
        font-size: 2.5vh;
        padding-bottom: 1vh;
        margin-bottom: 1vh;
        border-bottom: 0.2vh dashed;
        border-spacing: 5px;
        display: inline-block;
    }

    .product_info_container a:hover {
        box-shadow: 0 0 0 0.3vh;
    }

    .sobre_contato, .desenvolvimento {
        margin: 0 auto;
    }

    .sobre_contato {
        width: 90%;
    }

    .desenvolvimento {
        width: 100%;
        padding: 0 4vw;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    }

    .desenvolvimento * {
        cursor: default;
    }



    .sec_titulo {
        font-size: 9vh;
        color: teal;
        margin: 0 0 4vh 0;
        padding-top: 6vh;
        display: block;
        font-weight: 300;
    }
    
    .p1 {
        font-size: 4vh;
        margin-top: 3vh;
    }

    p {
        color: teal;
        font-weight: 300;
    }

    .p0 {
        font-size: 6vh;
        font-weight: 300;
        margin: 0 8vh 4vh 0;
        display: inline-block;
    }

    .menor_width {
        width: 56%;
    }

    .p1 strong, .p0 strong, .p2 strong {
        font-weight: 400;
    }

    .p2 {
        font-size: 4vh;
        font-weight: 300;
    }

    .sobre_contato iframe {
        width: 100%;
        padding: 7vh 50vh;
        background: rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        height: 68vh;
        margin: 0 auto;
        display: block;
    }

    /* .p1:nth-child(even) {
        text-align: right;
    } */

    .side_gif {
        width: 48%;
        box-shadow: 0 2vh 8vh rgba(0,0,0,0.3);
        margin: 5vh 0;
        float: right;
        position: absolute;
        right: -8%;
    }


    .sobre_contato form {
        margin: 10vh 0;
    }

    .normal_input, .sobre_contato form textarea {
        display: block;
        width: 62%;
        margin: 3vh auto 3vh auto;
        padding: 2.5vh 3vh;
        text-align: left;
        font-size: 2.5vh;
        box-sizing: border-box;
        border: 1vh solid white;
        font-family: 'Roboto';
    }

    .sobre_contato form textarea {
        height: 25vh;
    }

    .send {
        cursor: pointer;
        border: 0.5vh solid teal;
        background: none;
        width: 62%;
        padding: 2vh 3vh;
        margin: 0 auto;
        display: block;
        font-size: 5vh;
        color: teal;
        transition:0.2s ease;
        -webkit-transition:0.2s ease;
        -moz-transition:0.2s ease;
        -ms-transition:0.2s ease;
        -o-transition:0.2s ease;
}

    .send:hover {
        background: teal;
        color: white;
    }









/* IDs */

#pcf {
    background: rgba(0, 191, 255, 0.15);
}
#car {
    background: rgba(255, 49, 0, 0.15);
}
#oc {
    background: rgba(103, 93, 198, 0.2);
}
#aef {
    background: rgba(255, 255, 0, 0.25);
}
#per {
    background: rgba(255, 90, 0, 0.2);
}
#lrlp {
    background: rgba(0, 255, 0, 0.2);
}
#cfa {
    background: rgba(0, 191, 255, 0.1);
}
#perl {
    background: rgba(214, 0, 87, 0.15);
}







