html {
    width: 100%;
}

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    color: teal;
}

p, h1, h2, h3, h4, h5, h6 {
    margin:0;
}


.bg {
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    bottom:0;
    z-index: -1;
}

.bg1 {
    background-image: url(assets/bg.svg);
    background-size: 25vh;
    opacity: 0.3;
}

.bg2 {
    background-image: url(assets/bg.jpg);
    background-size: cover;
    opacity: 0.1;
    background-position-y: 70%;
}

.bg3 {
    position: absolute;
    background-image: url(assets/dev.gif);
    background-size: cover;
    opacity: 0.15;
    width: 100%;
    top: 0;
    background-attachment: fixed;
}

.right_gradient, .left_gradient {
    height: 100%;
    width: 2vh;
    position: absolute;
    top: 0;
}

.right_gradient {
    right: 0;
    background: linear-gradient(180deg, teal, transparent);
}

.left_gradient {
    left: 0;
    background: linear-gradient(0deg, teal, transparent);
}

header {
    display: flex;
    width: 95%;
    border-radius: 0 0 9vh 0;
    height: 23.6vh;
    background: linear-gradient(178deg, teal, #37B7B7);
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}

        .header_shrink {
            height: 14.6vh !important;
        }

        .h1_shrink {
            top: 3vh !important;
            font-size: 3vh !important;
            line-height: 5vh !important;
        }

        .h1Span_shrink {
            font-size: 5vh !important;
        }

        .header_contact_shrink {
            top: 3vh !important;
        }

        .header_contact_span_shrink {
            display:none !important;
        }

.h1_container {
    height: 100%;
    position: relative;
    padding-left: 10%;
    min-width: 80%;
    display: inline-flex;
}

.h1_container img {
    height: 70%;
    position: relative;
    top: 14%;
    opacity: 0.9;
}

.h1_container h1 {
    display: inline-block;
    color: white;
    height: fit-content;
    position: relative;
    top: 6vh;
    left: 4vh;
    font-weight: 200;
    font-size: 4.2vh;
    line-height: 6vh;
    cursor: default;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.h1_container h1 span {
    display:block;
    font-size: 8.3vh;
    transition:0.3s ease;
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -ms-transition:0.3s ease;
    -o-transition:0.3s ease;
}

.header_contact_container {
    display: inline-block;
    height: 50%;
    position: absolute;
    right: 5%;
    top: 5vh;
    transition:0.3s ease;
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -ms-transition:0.3s ease;
    -o-transition:0.3s ease;
}

.header_contact_container span {
    display:block;
    text-align: right;
    color:white;
    font-size: 3vh;
    font-weight: 300;
    margin-bottom: 1vh;
    transition:0.3s ease;
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -ms-transition:0.3s ease;
    -o-transition:0.3s ease;
}

.header_contact_container > span:first-child {
    font-weight: 500;
    font-size: 4vh;
}

.intro {
    color: #008080;
    height: 72vh;
}

.intro h2 {
    font-size: calc(4.5vw + 5px);
    font-weight: 100;
    margin-top: 28vh;
    cursor: default;
}

    .intro h2 strong {
        font-weight: 300;
    }

    .intro h3 strong {
        font-weight: 400;
    }

.intro h3 {
    margin-top: 4vh;
    font-weight: 300;
    width: calc(72% - 200px);
    cursor: default;
    font-size: 3.4vh;
    color: #5D8F8F;
}

.intro h3, .intro h2 {
    margin-left: calc(10vw - 5vh);
}

.buttons_container {
    position: absolute;
    right: 20vh;
    top: 65vh;
    height: 23vh;
    width: 50vh;
}

.about_button, .see_products {
    position: absolute;
    right: 12vw;
    box-shadow: inset 0 0 0 0.3vh teal;
    font-size: 3vh;
    height: 6vh;
    line-height: 6vh;
    cursor: pointer;
}

.about_button {
    top: 68vh;
    width: 15vw;
    text-align: center;
    transition:0.2s ease;
    -webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
}

.about_button:hover, .see_products:hover {
    background: teal;
    color: white;
}

.see_products {
    top: 78vh;
    padding: 0 2vw;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.see_products::after {
    content: "";
    position: absolute;
    width: 0.4vh;
    height: 22vh;
    background: teal;
    right: 0;
}

.see_products_button:hover {
    background: white;
    box-shadow: 0 0 0 0.3vh teal;
}

.planilha {
    width: 100%;
    height: 52vh;
    display: flex;
}


.product_img_container {
    position: relative;
    height: 100%;
    width: calc(20vh + 10vw);
    display: inline-block;
    margin: 0 4%;
}

    .product_img_container img {
        height: 70%;
        width: 26vh;
        margin: 0 auto;
        display: block;
        position: relative;
        top: 20%;
    }

.product_info_container {
    width: 62%;
    position: relative;
    top: 10%;
    height: auto;
    display: table;
}

    .product_info_container h3 {
        font-size: calc(1vw + 4.5vh);
        font-weight: 400;
        display: inline-block;
        text-shadow: 0 0.5vh #EEE;
        padding-right: 2vh;
    }
    .product_info_container h4 {
        font-size: calc(2.8vw + 4px);
        font-weight: 300;
        color: inherit;
        margin: 2vh 0 3vh 0;
        text-shadow: 0 0.6vh 0.8vh #FFF;
    }
    
    .product_info_container h4 strong {
        font-weight: 400;
    }

    .product_info_container a, .fixed_exit_bt {
        color: inherit;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
        -webkit-transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
        -moz-transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
        -ms-transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
        -o-transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
}

    .free_download, .see_more {
        font-size: calc(0.5vw + 10px);
        padding: 0 3vw;
        height: 7vh;
        line-height: 7vh;
        display: inline-block;
        position: relative;
    }

    .see_more {
        background: white;
    }

    
    .play_btn {
        background: rgba(255, 255, 255, 0.5);
        height: 7vh;
        width: 12vh;
        margin-left: 0vh;
        display: inline-block;
        position: absolute;
        border-radius: 0 8vh 8vh 0;
        -webkit-border-radius: 0 8vh 8vh 0;
        -moz-border-radius: 0 8vh 8vh 0;
        -ms-border-radius: 0 8vh 8vh 0;
        -o-border-radius: 0 8vh 8vh 0;
        transition: 0.15s ease;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
}

    .play_btn img {
        position: relative;
        top: 25%;
        height: 50%;
        display: block;
        margin: 0 auto;
    }

    .play_btn:hover {
        width: 15vh;
    }


    .product_info_container span {
        letter-spacing: 0.2vw;
        color: inherit;
        font-size: calc(0.6vw + 6px);
        padding-bottom: 1vh;
        margin-bottom: 1vh;
        border-bottom: 0.2vh dashed;
        border-spacing: 5px;
        display: inline-block;
    }

    .free_download:hover, .see_more:hover, .fixed_exit_bt:hover {
        box-shadow: inset 0 0 0 0.4vh;
    }

    .sobre_contato, .desenvolvimento {
        margin: 0 auto;
    }

    .sobre_contato {
        width: 90%;
    }

    .desenvolvimento {
        width: 100%;
        padding: 0 4vw 0 4vw;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    }



    .sec_titulo, .sec_subtitulo {
        color: teal;
        display: block;
    }

    .sec_titulo {
        font-size: calc(3.5vw + 6px);
        padding-top: 6vh;
        font-weight: 300;
        display: inline-block;
        margin-right: 7vh;
    }

    .sec_subtitulo {
        font-size: 3vh;
        font-weight: 400;
        line-height: 5vh;
        padding: 2vh 4vh;
        margin: 7vh 0;
        display: inline-block;
        background: #FFF;
    }

    
    .p1 {
        font-size: 4vh;
        margin-top: 3vh;
    }

    p {
        font-weight: 300;
    }

    .p0 {
        font-size: calc(2vw + 9px);
        font-weight: 300;
        margin: 4vh 8vh 0 0;
        display: inline-block;
    }

    .menor_width {
        width: 56%;
    }

    .p1 strong, .p0 strong, .p2 strong {
        font-weight: 400;
    }

    .p2 {
        font-size: calc(1.5vw + 6px);
        font-weight: 300;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .sobre_contato iframe {
        width: 100%;
        padding: 7vh 50vh;
        background: rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        height: 68vh;
        margin: 4vh auto;
        display: block;
    }

    /* .p1:nth-child(even) {
        text-align: right;
    } */

    .side_gif {
        width: 48%;
        box-shadow: 0 2vh 5vh rgba(0,0,0,0.3);
        float: right;
        position: absolute;
        right: -8%;
        top: calc(7vw + 7vh);
    }


    .sobre_contato form {
        margin-bottom: 10vh;
    }

    .normal_input, .sobre_contato form textarea {
        display: block;
        width: 62%;
        margin: 0 0 3vh 0;
        padding: 2.5vh 3vh;
        text-align: left;
        font-size: 2.5vh;
        box-sizing: border-box;
        border: 1vh solid white;
        font-family: 'Roboto';
        border: 0.4vh solid teal;
        background: none;
        transition:0.4s ease;
        -webkit-transition:0.4s ease;
        -moz-transition:0.4s ease;
        -ms-transition:0.4s ease;
        -o-transition:0.4s ease;
        color: teal;
    }

    .normal_input:focus, .sobre_contato form textarea:focus {
        background:white;
        outline:none;
    }

    .normal_input {
        display: inline-block;
        width: 49%;
    }

    .left_input {
        margin-right: 1%;
    }


    .sobre_contato form textarea {
        min-height: 25vh;
        height: 25vh;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        max-height: 75vh;
        transition:background 0.3s ease;
        -webkit-transition:background 0.3s ease;
        -moz-transition:background 0.3s ease;
        -ms-transition:background 0.3s ease;
        -o-transition:background 0.3s ease;
}

    .send {
        font-weight: 300 !important;
        font-family: 'Roboto';
        cursor: pointer;
        background: none;
        width: 100%;
        padding: 2vh 10%;
        display: block;
        font-size: 5vh;
        background: teal;
        color: white;
        text-align: right;
        transition: background 0.3s ease,padding 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        -webkit-transition: background 0.3s ease,padding 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        -moz-transition: background 0.3s ease,padding 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        -ms-transition: background 0.3s ease,padding 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        -o-transition: background 0.3s ease,padding 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        border: none;
}

    .send:active {
        padding: 2vh 25%;
        transition:background 0.3s ease,padding 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -webkit-transition:background 0.3s ease,padding 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -moz-transition:background 0.3s ease,padding 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -ms-transition:background 0.3s ease,padding 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -o-transition:background 0.3s ease,padding 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

    ::placeholder {
        color:#899;
    }

    .send:hover {
        background: #005353;
    }

    .go_to_email_button {
        margin-right: 2vh;
        margin-bottom: 7vw;
        color: white;
        font-size: calc(0.5vw + 11px);
        background: teal;
        padding: 1.5vh 3vh;
        font-weight: 300;
        cursor: pointer;
        display: inline-block;
        box-shadow: 0 0.8vh #005454;
        border-radius: 3px;
        transition: 0.15s ease;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
    }

    .go_to_email_button:hover {
        box-shadow: 0 0 #005454;
        transform:translateY(0.8vh);
        -webkit-transform:translateY(0.8vh);
        -moz-transform:translateY(0.8vh);
        -ms-transform:translateY(0.8vh);
        -o-transform:translateY(0.8vh);
    }

    .or_call {
        color:teal;
        font-size: 3vh;
    }

    .dev_call {
        font-size: calc(0.5vw + 12px);
    }

    .or_call:hover {
        opacity: 0.6;
    }

    .big_img {
        width: 85%;
        margin: 8vh auto;
        display: block;
    }

    .whatsapp_button {
        cursor: pointer;
        text-decoration: none;
    }

    .youtube_button {
        position: absolute;
        right: calc(31vw - 31px);
        top: calc(20vw + 22vh);
        padding: 1vh 3vh;
        background: linear-gradient(30deg, #b31217, #EE4D52);
        border-radius: 1vh;
        display: block;
        float: right;
        width: 10vw;
        height: 4vw;
        transition: 0.2s ease;
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        -ms-transition: 0.2s ease;
        -o-transition: 0.2s ease;
    }

    .youtube_button:hover {
        transform:scale(1.05);
        -webkit-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -o-transform:scale(1.05);
}

    .youtube_button img {
        width: 100%;
        position: relative;
        height: 100%;
        margin: 0 auto;
        display: block;
    }

    .free_download::after {
        content: url(assets/download_bt.svg);
        position: absolute;
        width: calc(0.5vw + 2vh);
        display: inline-block;
        left: 1vw;
        top: 10%;
    }

    .credit_box {
        width:100%;
        display:flex;
        margin: 6vh 0;
    }
    
    .credit_box > div {
        background: rgba(0, 128, 128, 0.1);
        color: teal;
        display: inline-block;
        width: 50%;
        padding: 8vh;
        font-size: 3vh;
        font-weight: 400;
    }

    .credit_box > div:first-child {
        margin-right: 3%;
    }

    .go_top {
        padding: 3vh 2vh;
        box-sizing: border-box;
        position: fixed;
        background: rgba(0, 128, 128, 0.7);
        width: 9vh;
        height: 14vh;
        border-radius: 10vh 10vh 0 0;
        bottom: 0;
        right: 1vh;
        cursor: pointer;
        opacity:0;
        visibility: hidden;
        transition:0.2s ease;
        -webkit-transition:0.2s ease;
        -moz-transition:0.2s ease;
        -ms-transition:0.2s ease;
        -o-transition:0.2s ease;
}

    .go_top:hover {
        transform:translateY(1vh)    ;
        -webkit-transform:translateY(1vh)    ;
        -moz-transform:translateY(1vh)    ;
        -ms-transform:translateY(1vh)    ;
        -o-transform:translateY(1vh)    ;
}

    .go_top_show {
        opacity:1;
        visibility: visible;
    }

    .go_top img {
        transform: rotate(180deg);
    }










/* IDs */

#pcf {
    background: rgba(0, 191, 255, 0.15);
}
#car {
    background: rgba(255, 49, 0, 0.15);
}
#oc {
    background: rgba(103, 93, 198, 0.2);
}
#aef {
    background: rgba(255, 255, 0, 0.25);
}
#per {
    background: rgba(255, 90, 0, 0.2);
}
#lrlp {
    background: rgba(0, 255, 0, 0.2);
}
#cfa {
    background: rgba(0, 191, 255, 0.1);
}
#perl {
    background: rgba(214, 0, 87, 0.15);
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
    /* background: #458E75; */
}
::-webkit-scrollbar-thumb {
    background: teal;
}




























@media screen and (max-width: 150vh) { 

    .header_contact_container {
        display:none;
    }
}




@media screen and (max-width: 90vh) { 

    .play_btn {
        display: block;
        position: relative;
        margin: 3vh auto;
        border-radius: 1vh;
        background: white;
    }
    .planilha {
        height: auto;
        display: block;
        padding: 6vh 0;
    }

    .product_img_container {
        display: block;
        margin: 0 auto;
    }

    .right_gradient {
        display: none;
    }

    .intro h2, .intro h3 {
        width: 100%;
        font-weight: 300;
        margin: 3vh 0 5vh 0;
        color: teal;
        padding: 0 5vh;
        box-sizing: border-box;
    }

    .intro h2 {
        text-align: left;
        font-size: 5.4vw;
    }

    .intro h3 {
        text-align: right;
        font-size: 4vw;
    }

    .intro {
        height: auto;
        padding-bottom: 5vh;
    }

    .about_button, .see_products {
        position: relative;
        top: 0;
        display: block;
        margin: 2vh auto;
        right: unset;
        width: 60%;
        box-sizing: border-box;
        text-align: center;
    }

    .see_products::after {
        display:none;
    }

    .product_info_container {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }

    .product_info_container h4 {
        font-size: 5vh;
    }
    .product_info_container h3 {
        font-size: 5vh;
        padding-right: unset;
    }

    .free_download, .see_more {
        font-size: 3vh;
        padding: 0 4vw;
    }

    .h1_container img {
        height: 50%;
        top: 25%;
    }

    .h1_container h1 span {
        font-size: 5.5vh;
    }

    .h1_container h1 {
        font-size: 2.6vh;
        text-align: center;
        line-height: 4vh;
        top: 4vh;
        left: 0;
        margin-left: 4vh;
        font-weight: 300;
    }

    header {
        display: flex;
        width: 100%;
        border-radius: 0;
        height: 14.6vh;
    }

    .h1_container {
        padding-left: 0;
        margin: 0 auto;
        min-width: unset;
    }

    .intro h2 {
        margin: 18vh 0 10vh 0;
    }

    .side_gif {
        width: 68%;
        float: none;
        position: relative;
        bottom: unset;
        top: 0;
        left: 0;
        right: 0;
        margin: 3vh auto;
        display: block;
    }

    .sec_titulo {
        text-align: center;
        margin: 0;
        font-size: 5.5vh;
    }

    .youtube_button {
        position: relative;
        margin: 0 auto -10vh;
        right: unset;
        top: 0;
        transform: translateY(-100%) scale(1);
        float: none;
        width: 21vh;
        height: 8vh;
        -webkit-transform: translateY(-100%) scale(1);
        -moz-transform: translateY(-100%) scale(1);
        -ms-transform: translateY(-100%) scale(1);
        -o-transform: translateY(-100%) scale(1);
}

    .youtube_button:hover {
        transform: translateY(-100%) scale(1);
        -webkit-transform: translateY(-100%) scale(1);
        -moz-transform: translateY(-100%) scale(1);
        -ms-transform: translateY(-100%) scale(1);
        -o-transform: translateY(-100%) scale(1);
}

    .left_input {
        margin-right: 0%;
    }

    .menor_width {
        width: 100%;
    }

    .p0, .p2 {
        font-size: 3.6vh;
    }

    .dev_call {
        display: block;
        margin-top: 3vh;
    }

    .desenvolvimento {
        width: 100%;
        padding: 0 4vw 2vh 4vw;
    }

    .send {
        font-size: 4vh;
    }

    .normal_input, .sobre_contato form textarea {
        margin: 0 0 0.7vh 0;
    }

    .go_to_email_button {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 3vh;
    }

    .dev_call {
        text-align: center;
        font-size: 3vh;
    }

    .product_info_container span {
        font-size: 2.4vw;
    }

    .sec_subtitulo {
        padding: 1vw 2vw;
        margin: 2vh 0;
    }

    .credit_box {
        display: block;
        margin: 3vh 0;
    }

    .credit_box > div {
        display: block;
        width: 80%;
        padding: 4vh;
        margin: 0 auto 5vh auto;
    }
}