
body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    color: teal;
    opacity:0;
    transition:1s ease;
    -webkit-transition:1s ease;
    -moz-transition:1s ease;
    -ms-transition:1s ease;
    -o-transition:1s ease;
}
p, h1, h2, h3, h4, h5, h6 {
    margin:0;
}


.about_button, .see_products {
    position: absolute;
    right: 12vw;
    box-shadow: inset 0 0 0 0.3vh teal;
    font-size: 3vh;
    height: 6vh;
    line-height: 6vh;
    cursor: pointer;
}

.about_button {
    top: 68vh;
    width: 15vw;
    text-align: center;
    transition:0.2s ease;
    -webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
}

.about_button:hover, .see_products:hover {
    background: teal;
    color: white;
}



.planilha {
    width: 100%;
    height: 52vh;
    display: flex;
    background-size: contain !important;
    background-attachment: fixed !important;
}


.product_img_container {
    position: relative;
    height: 100%;
    width: calc(20vh + 10vw);
    display: inline-block;
    margin: 0 4%;
}

    .product_img_container img {
        height: 70%;
        width: 26vh;
        margin: 0 auto;
        display: block;
        position: relative;
        top: 20%;
    }

.product_info_container {
    width: 62%;
    position: relative;
    top: 10%;
    height: auto;
    display: table;
}

    .product_info_container h1 {
        font-size: calc(1vw + 4.5vh);
        font-weight: 400;
        display: inline-block;
        color: white;
        padding-right: 2vh;
    }
    .product_info_container h2 {
        font-size: calc(2.8vw + 4px);
        font-weight: 300;
        color: inherit;
        margin: 2vh 0 3vh 0;
        color: white;
    }
    
    .product_info_container h2 strong {
        font-weight: 400;
    }

    .product_info_container a, .fixed_exit_bt {
        color: inherit;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
        -webkit-transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
        -moz-transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
        -ms-transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
        -o-transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
}

    .free_download, .see_more {
        font-size: calc(0.5vw + 10px);
        padding: 0 3.5vw;
        height: 7vh;
        line-height: 7vh;
        display: inline-block;
        position: relative;
        font-weight: 400;
    }

    .free_download {
        border-radius: 10vh 0 0 10vh;
        -webkit-border-radius: 10vh 0 0 10vh;
        -moz-border-radius: 10vh 0 0 10vh;
        -ms-border-radius: 10vh 0 0 10vh;
        -o-border-radius: 10vh 0 0 10vh;
        box-shadow: inset 0 0 0 0, inset 0 0 0 100px;
    }

    .free_download p {
        color:white;
        font-weight: 400;
    }

    .free_download::after {
        content: url(../assets/download_bt.svg);
        position: absolute;
        width: calc(0.5vw + 2vh);
        display: inline-block;
        left: 1vw;
        top: 10%;
    }
    .see_more {
        background: white;
    }

    
    .play_btn {
        background: red;
        box-shadow: 0 0.6vh 1vh 0 #FAA, inset 0 0 0 0.6vh tomato;
        height: 7vh;
        width: 17vh;
        margin-left: 0;
        display: inline-flex;
        padding-left: 1.5vh;
        font-size: 2vh;
        position: absolute;
        border-radius: 0 8vh 8vh 0;
        -webkit-border-radius: 0 8vh 8vh 0;
        -moz-border-radius: 0 8vh 8vh 0;
        -ms-border-radius: 0 8vh 8vh 0;
        -o-border-radius: 0 8vh 8vh 0;
        transition: 0.15s ease;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
    }

    .play_btn span {
        transform: translateY(20%);
        color: white;
        font-weight: 600;
        font-size: 2.1vh;
        line-height: 2.2vh;
        letter-spacing: 1px;
    }
    

    .play_btn img {
        position: relative;
        top: 25%;
        height: 50%;
        display: block;
        margin: 0 auto;
    }

    .play_btn:hover {
        transform: translateX(10%);
    }


    .product_info_container > span {
        letter-spacing: 0.2vw;
        color: inherit;
        font-size: calc(0.6vw + 6px);
        padding-bottom: 1vh;
        margin-bottom: 1vh;
        border-bottom: 0.2vh dashed;
        border-spacing: 5px;
        display: inline-block;
        color:white;
    }

    .see_more:hover, .fixed_exit_bt:hover {
        box-shadow: inset 0 0 0 0.6vh ;
    }

    .free_download:hover {
        box-shadow: inset 0 0 0 0.6vh white, inset 0 0 0 100px;
    }




.info_box_section {
    width: 80%;
    margin: 5vh 0 0 5vh;
    display: inline-block;
}

.info_box {
    width: 30%;
    height: 13vw;
    box-shadow: 0 0 0 0.5vh, 0 0 4vh;
    margin: 0 2% 3vh 0;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 1vw;
    transition: 2s ease;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -ms-transition: 2s ease;
    -o-transition: 2s ease;
}

.big_info_box {
    width: 62.3%;
}

.yt_info_box {
    padding:0;
    overflow: hidden;
    background:black;
}

.yt_info_box iframe {
    display: block;
    height: 100%;
    width: 100%;
}

.info_box:hover {
    box-shadow: 0 0 0 0.5vh white, 0 0 4vh #aaa;
    transition: 0.15s ease;
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    -ms-transition: 0.15s ease;
    -o-transition: 0.15s ease;
}

.info_box p {
    font-weight: 300;
    font-size: 2vw;
    display: table;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
    width: 100%;
}

.info_box p strong {
    font-weight: 400;
}

.price_tag {
    width: 22%;
    height: 70%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;
    opacity: 0;
    will-change: opacity;
    transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
}

.big_price {
    width: 17vw;
    height: 23vw;
    background: white;
    box-sizing: border-box;
    border: 1vh solid #EEE;
    margin: 0 auto;
    padding: 2vh 0 0 0;
    position: relative;
    top: 5%;
    border-radius: 2vh;
    cursor: default;
    z-index: 1;
    background-image: url(../assets/bg.svg);
    background-size: 50%;
}

.price_tag:hover {
    filter:blur(0px);
    -webkit-filter:blur(0px);
}

.big_price > span {
    font-size: 1.3vw;
    font-weight: 400;
    position: relative;
    display: block;
}

.apenas {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.big_price > div {
    position: relative;
    margin: 0 auto;
    width: 60%;
    font-size: 2vw;
    font-weight: 600;
    line-height: 4vw;
}
.envio {
    text-align: center;
    width: 100%;
    margin-bottom: 2vh;
}

.valor {
    font-size: 7vw;
    font-weight: 500;
}

.big_price form {
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: fit-content;
}
.valor span {
    font-size: 4vh;
    position: absolute;
    font-weight: 600;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.excel_logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    transform: translateX(42%) translateY(-10%);
    -webkit-transform: translateX(42%) translateY(-10%);
    -moz-transform: translateX(42%) translateY(-10%);
    -ms-transform: translateX(42%) translateY(-10%);
    -o-transform: translateX(42%) translateY(-10%);
}

.iframe_sec {
    min-height: 100vh;
    width:100%;
    background: rgba(0,0,0,0.5);
}

.iframe_sec h3 {
    color: white;
    text-align: center;
    width: 100%;
    margin: 6vh 0;
    font-size: calc(3.5vw + 6px);
    font-weight: 300;
    display: inline-block;
}

.iframe_sec iframe {
    width: 62%;
    height: 70vh;
    margin: 0 auto;
    display: block;
}


.go_top {
    padding: 3vh 2vh;
    box-sizing: border-box;
    position: fixed;
    box-shadow: inset 0 0 0 100px;
    width: 9vh;
    height: 14vh;
    border-radius: 10vh 10vh 0 0;
    bottom: 0;
    right: 1vh;
    cursor: pointer;
    opacity:0;
    visibility: hidden;
    transition:0.2s ease;
    -webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
}

.go_top:hover {
    transform:translateY(1vh)    ;
    -webkit-transform:translateY(1vh)    ;
    -moz-transform:translateY(1vh)    ;
    -ms-transform:translateY(1vh)    ;
    -o-transform:translateY(1vh)    ;
}

.go_top_show {
    opacity:1;
    visibility: visible;
}

.go_top img {
    transform: rotate(180deg);
}

footer {
    width: 95%;
    margin: 0 auto;
    padding: 6vh 0;
}

footer a {
    text-decoration: none;
    padding: 1vh 3vh;
    border-radius: 10vh;
    background: #EEE;
    margin: 1vh 0.5vh;
    display: inline-block;
    color: inherit;
}


/* IDs */

#pcf {
    color:#008080;
    background-image: url(../assets/pcf_bg.jpg);
}
#car {
    color: #902600;
    background-image: url(../assets/car_bg.jpg);
}
#oc {
    background: rgba(103, 93, 198, 0.8);
    background-image: url(../assets/oc_bg.jpg);
    color:#362C95;
}
#aef {
    background: rgba(255, 195, 0, 0.6);
    color:#BA6800;
    background-image: url(../assets/aef_bg.jpg);
}
#per {
    background: rgba(255, 110, 10, 0.6);
    color:#B83500;
    background-image: url(../assets/per_bg.jpg);
}

#lrlp {
    background: rgba(0, 215, 110, 0.6);
    color:forestgreen;
    background-image: url(../assets/lrlp_bg.jpg);
}
#cfa {
    background: rgba(0, 151, 195, 0.6);
    color:deepskyblue;
    background-image: url(../assets/cfa_bg.jpg);
}
#perl {
    background: rgba(214, 0, 87, 0.6);
    color:#FF0057;
    background-image: url(../assets/perl_bg.jpg);
}
#pend {
    background: rgba(100, 155, 0, 0.6);
    color: #8FBB15;
    background-image: url(../assets/pend_bg.jpg);
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
    /* background: #458E75; */
}
::-webkit-scrollbar-thumb {
    background: teal;
}









































@media screen and (max-width: 90vh) { 

    .planilha {
        display: block;
        height: auto;
        padding: 5vh 0;
    }

    .product_img_container {
        width: 100%;
        display: block;
        margin: 0 auto;
        height: 60%;
    }

    .product_img_container img {
        width: 30%;
        margin: 0 auto 5vh auto;
    }

    .product_info_container {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
    
    .product_info_container h1 {
        font-size: 5vh;
        padding-right: unset;
    }

    .product_info_container h2 {
        font-size: 7vw;
    }
    
    .product_info_container span {
        font-size: 4vw;
    }
    
    .free_download, .see_more {
        font-size: 4.5vw;
        padding: 0;
        width: 48%;
    }
    
    .see_more {
        border-radius: 0 10vh 10vh 0;
        -webkit-border-radius: 0 10vh 10vh 0;
        -moz-border-radius: 0 10vh 10vh 0;
        -ms-border-radius: 0 10vh 10vh 0;
        -o-border-radius: 0 10vh 10vh 0;
        box-shadow: inset 0 0 0 0.6vh;
    }

    .free_download::after {
        left: 2vw;
        width: 4vw;
        top: 5%;
    }

    .info_box_section {
        margin: 3vh auto;
        display: block;
        width: 90%;
    }


    .info_box {
        width: 47%;
        height: 44vw;
        border-radius: 0;
        padding: 0 1vw;
        margin: 1vw;
        box-shadow: none;
        background: ghostwhite;
    }

    .info_box p {
        font-size: 5vw;
    }

    .big_info_box {
        width: 97%;
        height: 32vw;
        padding: 0 2vh;
    }

    .go_top {
        right: 5%;
        z-index: 1;
    }

    .price_tag {
        width: 100%;
        margin: 0;
        position: relative;
        bottom: 0;
        display: block;
    }
    .big_price {
        width: 62vw;
        height: 50vh;
        margin: 10vh auto;
    }
    .big_price > span {
        font-size: 5.5vw;
    }
    .envio {
        margin-bottom: 2vh;
    }
    .big_price > div {
        width: 62%;
        font-size: 8vw;
        line-height: 18vw;
        margin: 0 auto;
    }
    .valor {
        font-size: 27vw;
    }
    .valor span {
        font-size: 6vw;
    }
    .play_btn {
        position: relative;
        border-radius: 1vh;
        margin: 2vh auto;
        width: 38vw;
    }
    .play_btn span {

    }
    .yt_info_box {
        width: 100%;
    }

    .apenas {
        width: 90%;
    }
}