.big_bg {
    position: fixed;
    z-index: -1;
    height: 100%;
    right: 5%;
    transform: rotate(5deg);
    opacity: 0.15;
}

section {
    width: 74%;
    margin: 5vh 0 0 5vh;
    display: inline-block;
}

.info_box {
    width: 47%;
    height: 14vw;
    box-shadow: 0 2vh 7vh rgba(0, 128, 128, 0.3);
    margin: 0 2% 3vh 0;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 5vh;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.info_box:hover {
    background:ghostwhite;
}

.info_box p {
    font-weight: 300;
    font-size: 4vh;
    display: table;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
    width: 100%;
}

.info_box p strong {
    font-weight: 400;
}

.price_tag {
    width: 20%;
    height: 100%;
    position: sticky;
    bottom: 18vh;
    display: inline-block;
}

.big_price {
    width: 35vh;
    height: 45vh;
    background: white;
    box-shadow: 0 2vh 6vh rgba(0, 128, 128, 0.5);
    margin: 0 auto;
    position: relative;
    top: 5%;
    border-radius: 2vh;
    cursor: default;
    z-index: 1;
    background-image: url(../assets/bg.svg);
    background-size: 50%;
}

.big_price > p {
    font-size: 2.8vh;
    font-weight: 400;
    position: relative;
    margin: 0 auto;
}

.apenas {
    top: 5%;
    text-align: left;
    width: 80%;
}

.big_price > div {
    position: relative;
    margin: 0 auto;
    width: 60%;
    top: 15%;
}
.envio {
    text-align: center;
    top: 12%;
    width: 100%;
}

.big_price > div > p {
    font-size: 6vh;
    font-weight: 500;
    margin: -3vh 0;
}
.big_price > div > h2 {
    font-size: 15vh;
    font-weight: 500;
}

.big_price form {
    position: absolute;
    bottom: 1%;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    left: 50%;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 0.3s ease;
    -webkit-transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 0.3s ease;
    -webkit-transform: translateX(-50%) scale(0.9);
    -moz-transform: translateX(-50%) scale(0.9);
    -ms-transform: translateX(-50%) scale(0.9);
    -o-transform: translateX(-50%) scale(0.9);
    -moz-transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 0.3s ease;
    -ms-transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 0.3s ease;
    -o-transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 0.3s ease;
}
.big_price > div > h2 span {
    font-size: 4vh;
    position: absolute;
    transform: translateY(50%);
    font-weight: 600;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
.excel_logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    transform: translateX(42%) translateY(-10%);
    filter: drop-shadow(0px 0px 5px white);
    -webkit-filter: drop-shadow(0px 0px 5px white);
    -webkit-transform: translateX(42%) translateY(-10%);
    -moz-transform: translateX(42%) translateY(-10%);
    -ms-transform: translateX(42%) translateY(-10%);
    -o-transform: translateX(42%) translateY(-10%);
}